<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Ma page d'erreur</title>

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="css/bootstrap.min.css" rel="stylesheet">
        
    </head> 
    <body>
        <h1>Rooooo, ça marche pas</h1>
        <h2>
        	<strong><%= error.status %></strong>
        	<%= message %>
        </h2>
</html>
