<!DOCTYPE html>
<html ng-app="myAppTestAngular">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="css/bootstrap.min.css" rel="stylesheet">
        <!--<link href="css/custom.css" rel="stylesheet">-->


        <!-- Normalement, il faut le mettre à la fin, ça va plus vite à charger, mais bonn, ici, on le charge q'une fois, alors on se'en tape-->
        <script src="js/jquery-3.1.1.min.js"></script>
        <script src="js/angular.min.js"></script>

        <script src="js/bootstrap.min.js"></script>


        <script src="js-ctrl/testappAngularJS.js"></script>

        <title>Ma page Node.js !</title>
        
    </head> 
    <body>
        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron" >
          <div class="container" ng-controller="ctrltest1">
            <h1>{{horloge}}</h1>
            <p>{{message}}</p>
            <div horloge="">19 : 27 : 43</div>
            </div>
        </div>

        <div class="container">
          <!-- Example row of columns -->
          <div class="row">
            <div class="col-md-4">
              <h2>Heading</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
            </div>
            <div class="col-md-4">
              <h2>Heading</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
           </div>
            <div class="col-md-4">
              <h2>Heading</h2>
              <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
              <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
            </div>
          </div>

          <hr>

          <footer>
            <p>© 2016 Company, Inc.</p>
          </footer>
        </div> <!-- /container -->

      

    </body>
</html>