<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">

    	<link href="css/bootstrap.min.css" rel="stylesheet">

		<!-- Normalement, il faut le mettre à la fin, ça va plus vite à charger, mais bonn, ici, on le charge q'une fois, alors on se'en tape-->
    	<script src="js/jquery-3.1.1.min.js"></script>
    	<script src="js/angular.min.js"></script>

    	<script src="js/bootstrap.min.js"></script>


    	<script src="js-ctrl/testappAngularJS.js"></script>

        <title>Ma page Node.js !</title>
        
    </head> 
    <body>


	    <div class="container">

	      <div class="starter-template">
	        <h1>Bootstrap starter template</h1>
	        <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
            <img src="img/pic_mountain.jpg" alt="Mountain View" style="width:304px;height:228px;">


	        <div ng-app="apptest">
	        	<div ng-controller="ctrltest1">
					<h1> {{texte}} </h1>
	        	</div>
	        </div>
	      </div>

	    </div><!-- /.container -->

    </body>
</html>